<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/skeleton.css">
  <link rel="icon" type="image/png" href="/css/icon.png">
</head>
<body>
  <div>
  <div class="row">
   <div class="eleven column" style="margin-top: 10%">
     <h2>{{title}}</h2>
     <table><thead>
      <tr>
        <th>publisher</th>
        <th>country</th>
        <th>founded</th>
        <th>genre</th>
        <th>books_title</th>
      </tr>
    </thead><tbody>
      {{#publisher}}
      <tr><td><a href="/publisher/{{id}}"/>{{publisher}}</a></td>
        <td>{{country}}</td>
        <td>{{founded}}</td>
        <td>{{genre}}</td>
        <td><ul>{{#books}}<li><a href="/book/{{book_id}}">{{name}}</a></li>{{/books}}</ul></td></tr>
      {{/publisher}}</tbody>
    </table>
  </div>
</div>
<a class="button button-primary" href="/publisher">Back</a>
</div>
</body>